td {
  padding-right: 1rem;
}
h5 {
  color: orangered;
  font-weight: bold;
}

span {
  color: grey;
  font-weight: bold;
}
#temp {
  background-color: black;
  color: white;
}
#text {
  color: black;
  font-weight: normal;
}
#date {
  color: blue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
